
small.text-danger{
  font-size: 0.9rem;
}

input.form-control{
  border: 0.6px solid lightskyblue;
  border-radius: 0;

}

input.form-control:focus{
  box-shadow: none;
  border: 2px solid lightskyblue;
}

input.btn{
  border-radius: 0;
  transition: 400ms linear;
}
input.btn.btn-outline-success:hover{
  background-color: rgb(30, 128, 30);
}
.background-register{
  z-index: -100;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.form-label{
  color: black;
  font-weight: 500;
}