.navbar-top{
  height: 80px;
}

.menu{
  background-color: white;
  border-top: 3px solid black;

  transition: 400ms linear;
  animation-name: slide-down;
  animation-duration: 0.4s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes slide-down {

  from{
    transform: translateY(-50%);
    opacity: 0.5;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}
.nav-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.nav-item-collapse{
  transition: 300ms linear;
  background-color: white;
  margin: 0 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  animation-name: slide-downsub;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.nav-item-collapse>ul{
  list-style: none;
  width: 100%;
}
.nav-item-collapse>ul>li{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 0.2px solid rgb(208, 208, 208);
  width: 100%;
}
@keyframes slide-downsub {
  from{
    transform: translateY(-50%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-link{
  font-size: 1.2rem;
  color: black !important;
  

}
.nav-link:hover{
  text-decoration: underline;
  background-color: ghostwhite;
}

.cls-btn{
  right: 0;
  top: 10px;
}